.input-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input, select {
    font-family: 'JetBrains Mono';
    border: 1px solid lightgray;
    border-radius: 3px;
}

input:focus, select:focus {
    outline: none;
    border: 1px solid black;
    transition: all 0.5s;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    width: 100px;
}

.input-label > label {
    padding-right: 5px;
}
.input-label > img {
    max-width: 10px;
    max-height: 10px;
}

.disk-input {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
}
.disk-input > .text-input {
    margin-right: 10px;
}
#alphax {
    grid-column: 1;
    grid-row: 1;
}
#alphay {
    grid-column: 2;
    grid-row: 1;

}

.environment-input {
    display: grid;
    column-gap: 5px;
    flex: 1;
}
#boxwidth {
    grid-column: 1;
    grid-row: 1;
}
#boxheight {
    grid-column: 2;
    grid-row: 1;
}
#points {
    grid-column: 1/5;
    grid-row: 2;
    width: 500px;
}
#polygons {
    grid-column: 1/5;
    grid-row: 3;
}
#seed {
    grid-row: 1;
    grid-column: 3;
}
#qtype {
    grid-row: 1;
    grid-column: 4
}

.alg-input {
    flex: 1;
}

.flex-child {
    margin: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.text-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
}

.invalid-input {
    margin-left: auto;
    margin-right: auto;
    padding-left:10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    border: 2px solid lightgray;
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(-1px, 0px) rotate(0deg); }
    10% { transform: translate(1px, 0px) rotate(0deg); }
    20% { transform: translate(-1px, 0px) rotate(0deg); }
    30% { transform: translate(1px, 0px) rotate(0deg); }
    40% { transform: translate(-1px, 0px) rotate(0deg); }
    50% { transform: translate(1px, 0px) rotate(0deg); }
    60% { transform: translate(-1px, 0px) rotate(0deg); }
    70% { transform: translate(1px, 0px) rotate(0deg); }
    /* 80% { transform: translate(-1px, 0px) rotate(0deg); } */
    /* 90% { transform: translate(1px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); } */
}

.invalid-input > img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 1px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }